Client/xml-resources/web-service-references/SurveyService/wsdl/localhost_8080/CoronaVirusWS/SurveyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://survey.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://survey.me.org/">

<xs:element name="survey" type="tns:survey"/>

<xs:element name="surveyResponse" type="tns:surveyResponse"/>

<xs:complexType name="survey">
<xs:sequence>
<xs:element name="fever" type="xs:boolean"/>
<xs:element name="cough" type="xs:boolean"/>
<xs:element name="shortnessOfBreath" type="xs:boolean"/>
<xs:element name="troubleBreathing" type="xs:boolean"/>
<xs:element name="persistentChestPain" type="xs:boolean"/>
<xs:element name="bluishLipsOrFace" type="xs:boolean"/>
<xs:element name="confusion" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="surveyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>