Client/xml-resources/web-service-references/StatisticsWS/wsdl/localhost_8084/CoronaVirusWS/StatisticsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://statistics.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://statistics.me.org/" name="StatisticsWS">
<types>
<xsd:schema>
<xsd:import namespace="http://statistics.me.org/" schemaLocation="http://localhost:8084/CoronaVirusWS/StatisticsWS?xsd=1" />
</xsd:schema>
</types>
<message name="getGlobalData">
<part name="parameters" element="tns:getGlobalData" />
</message>
<message name="getGlobalDataResponse">
<part name="parameters" element="tns:getGlobalDataResponse" />
</message>
<message name="getMostNewCases">
<part name="parameters" element="tns:getMostNewCases" />
</message>
<message name="getMostNewCasesResponse">
<part name="parameters" element="tns:getMostNewCasesResponse" />
</message>
<message name="getMostDeaths">
<part name="parameters" element="tns:getMostDeaths" />
</message>
<message name="getMostDeathsResponse">
<part name="parameters" element="tns:getMostDeathsResponse" />
</message>
<message name="getCountryData">
<part name="parameters" element="tns:getCountryData" />
</message>
<message name="getCountryDataResponse">
<part name="parameters" element="tns:getCountryDataResponse" />
</message>
<message name="getMostInfected">
<part name="parameters" element="tns:getMostInfected" />
</message>
<message name="getMostInfectedResponse">
<part name="parameters" element="tns:getMostInfectedResponse" />
</message>
<portType name="StatisticsWS">
<operation name="getGlobalData">
<input wsam:Action="http://statistics.me.org/StatisticsWS/getGlobalDataRequest" message="tns:getGlobalData" />
<output wsam:Action="http://statistics.me.org/StatisticsWS/getGlobalDataResponse" message="tns:getGlobalDataResponse" />
</operation>
<operation name="getMostNewCases">
<input wsam:Action="http://statistics.me.org/StatisticsWS/getMostNewCasesRequest" message="tns:getMostNewCases" />
<output wsam:Action="http://statistics.me.org/StatisticsWS/getMostNewCasesResponse" message="tns:getMostNewCasesResponse" />
</operation>
<operation name="getMostDeaths">
<input wsam:Action="http://statistics.me.org/StatisticsWS/getMostDeathsRequest" message="tns:getMostDeaths" />
<output wsam:Action="http://statistics.me.org/StatisticsWS/getMostDeathsResponse" message="tns:getMostDeathsResponse" />
</operation>
<operation name="getCountryData">
<input wsam:Action="http://statistics.me.org/StatisticsWS/getCountryDataRequest" message="tns:getCountryData" />
<output wsam:Action="http://statistics.me.org/StatisticsWS/getCountryDataResponse" message="tns:getCountryDataResponse" />
</operation>
<operation name="getMostInfected">
<input wsam:Action="http://statistics.me.org/StatisticsWS/getMostInfectedRequest" message="tns:getMostInfected" />
<output wsam:Action="http://statistics.me.org/StatisticsWS/getMostInfectedResponse" message="tns:getMostInfectedResponse" />
</operation>
</portType>
<binding name="StatisticsWSPortBinding" type="tns:StatisticsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getGlobalData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMostNewCases">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMostDeaths">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCountryData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMostInfected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="StatisticsWS">
<port name="StatisticsWSPort" binding="tns:StatisticsWSPortBinding">
<soap:address location="http://localhost:8084/CoronaVirusWS/StatisticsWS" />
</port>
</service>
</definitions>